body {
  /* fonts, weights, size etc.  */
  font-family: 'Outfit', sans-serif;
  background-color: #d6e2f0;
}

h1 {
  display: none;
}

div {
  background-color: white;
  border-radius: 5%;
  margin: 6.25rem auto;
  padding: .9375rem;
  padding-bottom: 1.25rem;
  text-align: center;
  /*width: 85%;  /*22.5%;*/
  width: 100%;
  max-width: 20rem
}

@media (min-width: 37.5rem) {
  div {
    /*width: 22.5%;*/
    width: 100%;
    max-width: 320px
  }
}

img {
  border-radius: 5%;
  height: 60%;
  max-width: 20rem
}


h2 {
  color: #1f3251;
  font-size: 1.375rem;
  font-weight: 700;
  margin: .9375rem;
}

p {
  color: #7b879d;
  font-size: .9375rem;
  font-weight: 400;
  margin: .9375rem 1.875rem;
}



