body {
  /* fonts, weights, size etc.  */
  font-family: 'Outfit', sans-serif;
  background-color: #d6e2f0;
}

div {
  background-color: white;
  border-radius: 5%;
  margin: 100px auto;
  padding-bottom: 20px;
  text-align: center;
  width: 85%;  /*22.5%;*/
}

@media (min-width: 600px) {
  div {
    width: 22.5%;
  }
}

img {
  border-radius: 5%;
  margin: 15px auto 0 auto;
  height: 60%;
  width: 90%;
}



h2 {
  color: #1f3251;
  font-size: 22px;
  font-weight: 700;
  margin: 15px auto;
  width: 90%;
}

p {
  color: #7b879d;
  font-size: 15px;
  font-weight: 400;
  margin: 15px auto;
  width: 80%;
}



